page-dbmeter {
  
    ion-input{
        border-radius: 10px;
        background-color:yellow;
        font-size:24px;
      }

    label{
        color:darkBlue;
        font-size:50px
    }

    ion-datetime{
        color:darkGreen;
        font-size:24px
    }

    h3{
        text-decoration: underline;
    }
}
